body {
    font-family: Arial, sans-serif;
    font-size: 15px;
    /* Corrigido o tamanho da fonte */
    text-align: center;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

#quiz {
    text-align: center;
    align-items: center;
    margin: 40px auto;
    width: 80%;
}

#gif-container {
    background: #ffffff;
    margin-bottom: 0;
    width: auto;
    height: auto;
    padding-left: 130px;
    align-items: center;
  
}

#gif-container img {
    width: 1020px;
    height: 600px;
    max-height: 100%;
    padding-left: 130px;

    align-items: center;
  
}

#question-container {
    margin: 20px auto;
    font-size: 1.6em;
    width: 80%;
    padding: 10px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#answers-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 10px;
}

.answer {
    font-size: 1.2em;
    cursor: pointer;
    padding: 10px 20px;
    width: 45%;
    margin: 10px;
    border: none;
    background-color: #ffffff;
    transition: background-color 0.3s;
    border-radius: 25px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.answer:hover {
    background-color: #d6eaff;
}

.balloon {
    background: #f0f0f0;
    border-radius: 25px;
    padding: 15px;
    box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.2);
    display: inline-block;
    margin: 10px;
}

/* Animação do botão "Jogar" */
@keyframes buttonAnimation {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

#start-button {
    padding: 20px 40px; 
    font-size: 2em;
    background-color: #ffffff; /* Fundo branco */
    color: #000000; /* Texto preto */
    border: 4px solid #929292; /* Borda cinza */
    border-radius: 25px;
    cursor: pointer;
    animation: buttonAnimation 2s infinite; /* Animação pulsante */
    transition: all 0.3s ease; /* Suaviza as mudanças */
  
}

#start-button:hover {
    background-color: #929292; /* Fundo cinza no hover */
    color: #ffffff; /* Texto branco no hover */
    border-color: #929292; /* Mantém a borda cinza no hover */
    animation: none; /* Pausa a animação enquanto o mouse está sobre o botão */
}



/* Estilos para a tela inicial */
#start-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

.hidden {
    display: none;
}


/* Overlay para GIFs */

#overlay {
    display: none; /* Escondido por padrão */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8); /* Fundo escuro transparente */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 1000;
}
/*#overlay-gif {
    width: 100%;
    max-width: 600px;
    max-height: 800px;
    margin-bottom: 20px;
} */

#restart-button {
    padding: 10px 30px;
    font-size: 1.5em;
    border: none;
    background-color: #717171;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#restart-button:hover {
    background-color: #555555;
}
#category-select {
    padding-top: 150px;
    padding: 10px 15px;
    font-size: 1em;
    border: 2px solid #929292; /* Cor da borda */
    border-radius: 15px; /* Bordas arredondadas */
    background-color: #ffffff; /* Fundo branco */
    color: #000000; /* Texto preto */
    outline: none; /* Remove o contorno padrão */
    transition: all 0.3s ease; /* Transição suave */
}

#category-select:hover {
    border-color: #717171; /* Borda mais escura no hover */
    background-color: #f4f4f4; /* Fundo ligeiramente cinza no hover */
}

#category-select:focus {
    border-color: #555555; /* Borda mais escura ao focar */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); /* Efeito de sombra */
}